.App {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.App_title {
  text-align: center;
  font-size: 50px;
}
.App_btn {
  display: flex;
  padding: 0.5em 1em;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/public/backgrounds/btncookie.png);
  background-color: transparent;
  background-repeat: no-repeat;
  height: 100px;
  width: 150px;
  background-position: center;
  opacity: 0.8;
  /* color: rgb(0, 0, 0);
  border: 1px solid currentColor;
  border-radius: 0.4em; */
}
.App_quote {
  width: 100%;
  min-height: 100px;
  max-width: 350px;
  background-color: rgba(246, 246, 246, 70%);
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgb(33, 33, 77);
  border-radius: 0.4em;
  font-size: 20px;
}
